{varType Nette\Application\UI\Form $form} {* Because of global scope of template, so $form doesn't need to be in 'define' parameters. *}
{* Feel free to customize this file. It is stronhly recommended to modify it to your needs. *}
{* You can create your own file without defines. Only required define is form. *}
{* Also you can create file with only textInput, numberInput or other define. In that case, other defines including form defines will be used from this file. *}

{define submitInput, string $name}
    <td></td>
    <td>
        {input $name, value => 'Filter'}
    </td>
{/define}

{define textInput, string $name}
    <td>
        {label $name /}
    </td>
    <td>
        {input $name}
    </td>
{/define}

{define numberInput, string $name}
    {include textInput, $name}
{/define}

{define floatInput, string $name}
    {include textInput, $name}
{/define}

{define datetimeInput, string $name}
    {include textInput, $name}
{/define}

{define selectInput, string $name}
    {include textInput, $name}
{/define}

{* Only required define (it is loaded from extension). If you create file without form define, this one will be used. *}
{* If you rewrite content of this define, then you can omitt other defines. *}
{define form}
    {form $form, class => 'ajax'}
        <table>
            {foreach $form->getComponents() as $name => $component}
                {continueIf $component instanceof Nette\Forms\Controls\HiddenField}
                <tr>
                    {var $defineName = ($component->control->type ?? $component->options['type']) . 'Input'}
                    {include block $defineName, $name}
                </tr>
            {/foreach}
        </table>
        <a n:href="clear!" class="ajax">Cancel filter</a>
    {/form}
{/define}
